@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local('Rubik'), url(./Rubik-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: local('Rubik'), url(./Rubik-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Rubik';
  font-style: bold;
  font-weight: 700;
  src: local('Rubik'), url(./Rubik-Bold.woff2) format('woff2');
}

* {
  font-family: 'Rubik', sans-serif;
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.container {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.main {
  min-height: 200px;
}
