header {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  background: $color-secondary;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.headerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.settingsIcon {
  cursor: pointer;
}
